@font-face {
  font: {
    display: block;
    family: "Gilroy";
    weight: 400;
  }
  src: url("/fonts/Gilroy-Regular.woff2");
}

@font-face {
  font: {
    display: block;
    family: "Gilroy";
    weight: 500;
  }
  src: url("/fonts/Gilroy-Medium.woff2");
}

@font-face {
  font: {
    display: block;
    family: "Gilroy";
    weight: 600;
  }
  src: url("/fonts/Gilroy-SemiBold.woff2");
}

@font-face {
  font: {
    display: block;
    family: "Gilroy";
    weight: 700;
  }
  src: url("/fonts/Gilroy-Bold.woff2");
}
