.header {
  height: 142px;

  &__layout {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  &__logo {
    max-width: 400px;
  }

  &__menu {
    align-items: center;
    column-gap: 35px;
    display: flex;

    &__list {
      column-gap: 35px;
      display: flex;
    }

    &__link {
      color: $colorText;
      font-size: 18px;
      position: relative;
      text-decoration: none;

      &::after {
        background-color: $colorPrimary;
        border-radius: 3px;
        bottom: -10px;
        content: "";
        height: 3px;
        left: 0;
        position: absolute;
        transition: width 0.2s;
        width: 0;
      }

      &--active {
        font-weight: 600;

        &::after {
          width: 100%;
        }
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}
