* {
  box-sizing: border-box;
}

body {
  font: 400 14px "Gilroy";
  color: $colorText;
  line-height: 1;
}

img {
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

.container {
  height: 100%;
  margin-inline: auto;
  max-width: 1450px;
  padding-inline: 15px;
}
