<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>{{pageTitle}}</title>
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <link href="/css/init.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        {% include "header.njk" %}

        {% block content %}
        {% endblock %}

        {% include "footer.njk" %}
    </div>

    <script src="/js/vendor.js"></script>
    <script src="/js/main.js" type="module"></script>
</body>
</html>