{% set pageTitle = "Main" %}
{% extends "layout.njk" %}

{% block content %}
    <main class="content">
        <div class="about-start">
            <div class="about-start__content">
                <h1 class="about-start__title">
                    <span class="about-start__title--highlighted">Спишите</span>
                    все кредиты и долги!
                </h1>
            </div>

            <div class="about-start__img">
                <div style="width: 116px; height: 176px; background-color: rgb(1, 40, 1);"></div>
                <div style="width: 116px; height: 176px; background-color: rgb(1, 40, 1); transform: translateX(120px);"></div>
                <div style="animation: 7s ease-in-out 0s infinite normal none running keyFrames3; width: 116px; height: 100px; background-color: rgb(4, 180, 4); transform: translateX(120px);"></div>
                <div style="animation: 7s ease-in-out 0s infinite normal none running keyFrames4; width: 116px; height: 304px; background-color: rgba(4, 180, 4, 0.25); transform: translateX(240px);"></div>
                <div style="animation: 7s ease-in-out 0s infinite normal none running keyFrames5; width: 236px; height: 150px; background-color: rgba(4, 180, 4, 0.25); transform: translateX(240px);"></div>
                <div style="animation: 7s ease-in-out 0s infinite normal none running keyFrames6; width: 116px; height: 124px; background-color: rgb(4, 180, 4); transform: translateY(180px);"></div>
                <div style="animation: 7s ease-in-out 0s infinite normal none running keyFrames7; width: 236px; height: 124px; background-color: rgb(1, 40, 1); transform: translate(120px, 180px);"></div>
                <div style="animation: 7s ease-in-out 0s infinite normal none running keyFrames8; width: 116px; height: 150px; background-color: rgb(4, 180, 4); transform: translate(360px, 154px);"></div>
                <div style="animation: 7s ease-in-out 0s infinite normal none running keyFrames9; width: 236px; height: 90px; background-color: rgb(1, 40, 1); transform: translate(0px, 308px);"></div>
                <div style="animation: 7s ease-in-out 0s infinite normal none running keyFrames10; width: 116px; height: 90px; background-color: rgb(4, 180, 4); transform: translate(240px, 308px);"></div>
                <div style="animation: 7s ease-in-out 0s infinite normal none running keyFrames11; width: 116px; height: 90px; background-color: rgba(4, 180, 4, 0.25); transform: translate(360px, 308px);"></div>
            </div>
        </div>
    </main>
{% endblock %}